* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Start Header */
.header ul li {
  position: relative;
}
.header ul li:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  left: -100%;
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
  bottom: -5px;
  transition: 0.5s;
  display: none;
}
.header ul li:hover::before {
  left: 0;
  display: block;
}
.header a {
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
.header .searchIcon {
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

@media (max-width: 767px) {
  .header .menu {
    display: flex;
  }
}
@media (max-width: 767px) {
  .header .tabs {
    display: none;
  }
  .header .menu:hover + .tabs {
    display: flex;
    flex-direction: column;
    top: 17%;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header ul {
    display: block;
  }
  .header ul li {
    margin-bottom: 10px;
    padding: 5px;
  }
}
/* End Header */
/* Start subHeader */
/* fix */

.subHeader ul li:not(:last-child):before {
  content: "";
  position: absolute;
  width: 10px;
  height: 3px;
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
}
/* End subHeader */
/* Start Landing */

/* fix */

.landing .info .fst::before {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
  width: 25%;
  height: 2px;
  bottom: 0px;
  left: 0;
}

.landing .info .des::before {
  position: absolute;
  content: "";
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
  width: 55%;
  height: 2px;
  bottom: 0px;
  left: 0;
}
.landing .info .sub .down {
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
}
.landing .info .sub .btun {
  border-image: linear-gradient(90deg, #9f6cbf, #dcb7de) 1;
}
/* End Landing */
/* Start Contant */

.contant .cards::-webkit-scrollbar {
  height: 15px;
}

.contant .cards::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}
.contant .cards::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  border: 1px solid black;
}

.contant .card {
  min-width: 240px;
  transition: 0.3s;
  position: relative;
}
.contant .card:hover {
  transform: translate(-0.5rem, -1rem) rotate(3deg);
  margin-right: 60px;
}
.contant .card:first-child {
  box-shadow: none;
  left: 0;
}
.contant .card:not(:first-child) {
  margin-left: -55px;
  box-shadow: -3rem 0 3rem -2rem #000;
}
/* End Contant */
/* Start Subscribe */
.subscribe .email {
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #9f6cbf, #dcb7de);
  border-right: none;
}
.subscribe .buttom {
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
}
/* End Subscribe */
/* Start Footer */
.footer a {
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
.footer .btn {
  background: linear-gradient(90deg, #9f6cbf, #dcb7de);
}
/* End Footer */
